.logo-margin {
  margin-right: .5em;
}

.border-bottom-primary {
  border-style: none none solid none;
  border-bottom-width: thin;
  border-bottom-color: #47b4cd;
}

.priceInput {
  width: 80px;
  height: 30px;
  border-radius: .25rem;
  text-align: right;
}

.settings-button {
  font-size: 24px !important;
  border: none;
}

.settings-checkbox {
  height: 1rem;
  margin-top: .3rem;
  margin-left: .9rem;
}

.settings-menu {
  min-width: 19rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.settings-label {
  margin-left: 0;
}

.dropdown-divider {
  border-top: 2px solid #505050;
}

.io-button {
  margin-left: 5px;
  margin-right: 5px;
}

.io-menu {
  min-width: 30rem;
  padding-left: .5rem;
  padding-right: .5rem;
  transform: translate(5px, 8px);
}

.io-input {
  width: 40rem;
  height: 40rem;
}

.info-icon {
  font-size: 18px;
  margin-left: 3px;
  vertical-align: sub;
}

.info-icon-text {
  font-style: italic;
}
