<footer class="footer fixed-bottom bg-dark-elevated-1 text-muted">
  <p class="footer-text">
    <a class="link-text" href="https://github.com/aritchie05/EcoCraftingTool">{{message('sourceCodeLink')}}</a> |
    <a class="link-text" href="https://github.com/aritchie05/EcoCraftingTool/issues">{{message('feedbackLink')}}</a> |
    <a class="link-text" href="https://github.com/aritchie05">{{message('authorLink')}}</a> |
    <a class="link-text" href="http://public.identityworks.ru/Eco/Calc/">{{message('creditLink')}}</a>
  </p>
</footer>
