.large-sprite {
  height: 128px;
  width: 128px;
}

.recipe-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}

.recipe-title h1 {
  font-size: 1.5rem;
}

.recipe-image {
  display: flex;
  justify-content: flex-end;
}

.recipe-info-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-weight: bold;
}

.recipe-info {
  vertical-align: middle;
  background-color: #303030;
  border-radius: 5px;
}

.vertical-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row {
  padding: 5px 0px;
}

.recipe-element {
  line-height: 32px;
}

.modal-close {
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
}

.recipe-modal {
  position: absolute;
  width: 97%;
  background-color: #212121;
  border-radius: 5px;
  border: 1px solid #17c4dd;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: translate(15px, 35px);
  max-height: 75vh;
  overflow-y: auto;
}

.drop-up {
  bottom: 100%;
  transform: translate(15px, 0);
}

.reducible-item {
  border: 1px solid limegreen;
  border-radius: 2px;
}

.static-item {
  border: 1px solid yellow;
  border-radius: 2px;
}

.primary-output {
  font-weight: bold;
}

.ingredient-img-container {
  display: inline-block;
}

.modal-sprite {
  filter: none !important;
}
