.selected-outputs-container {
  --mat-form-field-container-vertical-padding: 0.25rem;
}

.output-container {
  background-color: var(--mat-sys-surface-container-high);
  box-shadow: var(--mat-sys-level2);
}
