<h1 class="text-center">Skills</h1>

<form>
  <div class="form-group">
    <div class="dropdown w-95 mx-auto">
      <label class="sr-only" for="skillSelectInput">Skill</label>
      <input #searchBox (input)="onSkillsSearchInput(searchBox.value)" class="dropdown-toggle form-control"
             data-toggle="dropdown" id="skillSelectInput" placeholder="Choose a skill..."
             type="search">
      <div aria-labelledby="skillSelectInput" class="dropdown-menu">
        <a (click)="onSkillSelect(skill)" *ngFor="let skill of filteredSkills" class="dropdown-item" href="#">
          {{skill.name}}
        </a>
      </div>
    </div>

    <div id="selectedSkills">
      <div *ngFor="let skill of selectedSkills" class="row skillRow mx-auto form-group">
        <div class="col-8">
          <label for="{{skill.name}}-levelInput">{{skill.name}}</label>
        </div>
        <div class="col">
          <input (keydown)="onLevelChange(skill, $event)" [value]="skill.level"
                 class="levelInput form-control" id="{{skill.name}}-levelInput"
                 type="number">
        </div>
        <div class="col-md-auto">
          <span (click)="onRemoveSkill(skill)" class="material-icons md-light hoverable mt-1">close</span>
        </div>
      </div>
    </div>
  </div>


</form>

