input::-webkit-calendar-picker-indicator {
  display: none;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  min-width: 100%;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #121212;
  text-decoration: none;
  background-color: #bfbfbf;
}

.dropdown-item:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #007bff;
}

.levelInput {
  width: 40px;
  height: 30px;
  border-radius: .25rem;
  text-align: right;
}

.skillRow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upgradeRow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.w-95 {
  width: 98%;
}

.lavishInput {
  width: auto;
  height: auto;
  margin-top: .6rem;
}

.skillSprite {
  display: inline;
  height: 32px;
  width: 32px;
}

.tableSprite {
  display: inline;
  height: 32px;
  width: 32px;
}
