<app-header
  (updatePerformanceModeEvent)="onUpdatePerformanceMode($event)"
  (updateExpensiveEndgameCostEvent)="onUpdateEndgameCost($event)"
  (updateLocaleEvent)="onUpdateLocale($event)"
  (updateWhiteTigerRecipesEvent)="onUpdateWhiteTigerRecipes($event)"
  (updateResourceCostMultiplierEvent)="onUpdateResourceCostMultiplier($event)"
  (importCalcConfigEvent)="onImportCalcConfig($event)"
  (exportCalcConfigEvent)="onExportCalcConfig()"
  [imageBaseUrl]="imageBaseUrl"
  [exportConfig]="calcConfigJson"
></app-header>

<div class="container-fluid top-padding bottom-margin">
  <app-crafting-parent [imageBaseUrl]="imageBaseUrl"
                       [imageTemplateUrl]="imageTemplateUrl"
                       [performanceModeEnabled]="performanceModeEnabled">
  </app-crafting-parent>
</div>

<app-footer></app-footer>
