.app-version {
  font-size: .8rem;
  margin-left: .2rem;
  margin-bottom: 2px;
  border: none;
  padding: 0;
}

.dropdown {
  display: inline-block;
  margin-right: 5px;
}

.dropdown-menu {
  overflow-y: scroll;
  max-height: 400px;
}

.dropdown-divider {
  border-top: 2px solid #505050;
}

.releases-menu {
  padding-left: .5rem;
  padding-right: .5rem;
}

.release-title {
  color: #17c4dd;
  font-size: 1.2rem;
}

.release-title:hover {
  color: #17c4dd;
  opacity: 80%;
  text-decoration: none;
}

.release-date {
  font-size: .8rem;
}

.release-body {
  overflow-wrap: break-word;
  inline-size: 700px;
  white-space: normal;
}
