.recipeRow {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.priceDisplay {
  width: 90px;
  height: 30px;
  border-radius: .25rem;
  text-align: right;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  min-width: 100%;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #121212;
  text-decoration: none;
  background-color: #bfbfbf;
}

.dropdown-item:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #007bff;
}

.outputSprite {
  display: inline;
  height: 32px;
  width: 32px;
}

.recipe-modal-toggle {
  font-size: 18px;
  margin-left: 3px;
  vertical-align: sub;
}
