.priceInput {
  width: 80px;
  height: 30px;
  border-radius: .25rem;
  text-align: right;
}

.ingredientRow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.laborRow {
  margin-top: 10px;
  padding-bottom: 25px;
}

.calorieSprite {
  display: inline;
  height: 32px;
  width: 32px;
}

.profitSprite {
  display: inline;
  height: 32px;
  width: 32px;
}

.itemSprite {
  display: inline;
  height: 32px;
  width: 32px;
}

.tagIcon {
  font-size: 16px;
  padding-left: 5px;
  transform: translateY(3px);
}
