.priceInput {
  width: 80px;
  height: 30px;
  border-radius: .25rem;
  text-align: right;
}

.ingredientRow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.laborRow {
  margin-top: 10px;
  padding-bottom: 25px;
}

.calorieSprite {
  background: url(../../assets/img/UI_Icons_00.png) no-repeat -416px -160px;
  background-size: 512px;
  display: inline;
  height: 32px;
  width: 32px;
}

.profitSprite {
  background: url(../../assets/img/UI_Icons_00.png) no-repeat -320px -384px;
  background-size: 512px;
  display: inline;
  height: 32px;
  width: 32px;
}

.itemSprite {
  display: inline;
  height: 32px;
  width: 32px;
}
