<h1 class="text-center">Inputs</h1>

<form>
  <div class="form-group">
    <div id="ingredients">
      <div class="row laborRow divider mx-auto form-group">
        <div class="col-9">
          <label for="laborInput">
            <strong>Price Per 1000 Calories</strong>
          </label>
        </div>
        <div class="col">
          <input #laborBox (focusout)="onLaborCostChange(laborBox.value)" [value]="laborCost"
                 class="priceInput form-control float-right dark-input" id="laborInput" type="number">
        </div>
      </div>
      <div *ngFor="let ingredient of itemIngredients" class="row ingredientRow mx-auto form-group">
        <div class="col-9">
          <label *ngIf="ingredient.tag; else nonTagName" for="{{ingredient.nameID}}-priceInput">
            {{ingredient.name}}*
          </label>
          <ng-template #nonTagName>
            <label for="{{ingredient.nameID}}-priceInput">
              {{ingredient.name}}
            </label>
          </ng-template>
        </div>
        <div class="col">
          <input #priceBox (focusout)="onPriceChange(ingredient, priceBox.value)" [value]="ingredient.price"
                 class="priceInput form-control float-right dark-input" id="{{ingredient.nameID}}-priceInput"
                 type="number">
        </div>
      </div>
    </div>
  </div>
</form>

