/* You can add global styles to this file, and also import other style files */
.bg-dark-base {
  background-color: #121212;
}

.bg-dark-elevated-1 {
  background-color: #212121;
}

.bg-dark-elevated-2 {
  background-color: #303030;
}

.bg-dark-elevated-3 {
  background-color: #3f3f3f;
}

.hoverable:hover {
  cursor: pointer;
  opacity: 0.75;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.dark-input {
  color: #f8f9fa !important;
  background-color: #212121 !important;
  border-color: #505050 !important;
}

.dropdown-item:hover {
  background-color: #3f3f3f !important;
  color: #c0c0c0 !important;
}

.dropdown-item:active {
  background-color: #007bff !important;
  color: white !important;
}

.divider {
  padding-bottom: 16px;
  border-bottom: 2px solid #505050;
}

.bump-down {
  padding-top: .3rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.link-text {
  color: #17c4dd;
}

.link-text:hover {
  color: #17c4dd;
  opacity: 80%;
  text-decoration: none;
}

body {
  font-size: .9rem !important;
}

.btn {
  font-size: .9rem !important;
}

.dropdown-menu {
  font-size: .9rem !important;
}

.read-only {
  cursor: not-allowed;
}
